DATABASE_DEV_URL = postgres://username:password@localhost:5432/database_name
DATABASE_TEST_URL = postgres://username:password@localhost:5432/database_name
SECRET_KEY = secretkey
HOST_URL =
EMAIL = email@gmail.com
EMAIL_PASSWORD = password
SMTP_HOST = smtp.mailtrap.io
SMTP_PORT = 2525
SMTP_USERNAME = username
SMTP_MAIL_PASSWORD = smptppassword
LOCAL_URL = http://127.0.0.1:3000/api/v1
PRODUCTION_URL = https://zinnia-ah-backend-staging.herokuapp.com/api/v1
FACEBOOK_APP_SECRET = f8ab516da80edebd1de60b6b350955ba
FACEBOOK_APP_CLIENT_ID = 2670543582987684
FACEBOOK_APP_CALLBACK = http://localhost:3000/api/v1/auth/facebook/callback
TWITTER_CONSUMER_KEY = 9FA0DwsnHlzjhlevmcAafNVZ1
TWITTER_CONSUMER_SECRET = RVB6aMFry40G8AfmFdErdAfYJiRlfSJPpcp4CpFf2AfFOsad1y
TWITTER_APP_CALLBACK = http://localhost:3000/api/v1/auth/twitter/callback
